/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        nav {
            .navbar-link {
                display: none;
            }
          }
    }

    section {
        .contact-right {
           input {
               max-width: 450px;
           }
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        .header-content {
            .head-center {
                h1 {
                    font-size: 6vw;
                }
            }
            .head-bottom {
                 .head-btm-1, .head-btm-2, .head-btm-3 {
                p {
                   &:first-child {
                       font-size: 17px;
                       sup {
                        font-size: 10px;
                       }
                   }
                    &:last-child {
                        font-size: 50px;
                    }
                }
            }
            }
           
        }
    }

    section {
        .stories-content {
            .stories-part-1 {
                
                .slick_slider-2 {
                   
                    .slide_2 {
                       
                        max-width: 500px;
                        .img-slide-2 {
                            max-width: 100%;
                            img {
                                max-width: 400px;
                                height: 250px;
                                object-fit: cover;
                                
                            }
                        }

                        
                            
                        
                    }
                }
            }

           

            .stories-part-3 {
                .slick_slider-3 {
                    max-width: 100%;
                    .slide_3 {
                        .img-slide-3 {
                            max-width: 100%;
                        }
                    }
                }
           }
        }
    }

    section {
        .contact-right {
           form {
               
                    max-width: 90%;
               input {
                   width: 100%;
               }
               
              
           }
        }
    }
}

@media only screen and (max-width: 992px) {
   header {
  
    .header-content {
        .head-center {
            h1 {
                font-size: 6vw;
            }
        }
        .head-bottom {
             .head-btm-1, .head-btm-2, .head-btm-3 {
            p {
               &:first-child {
                   font-size: 2vw;
                   sup {
                    font-size: 1vw;
                   }
               }
                &:last-child {
                    font-size: 5vw;
                }
            }
        }
        }
       
    }

   }

  
   section {
       .stories-content {
           .stories-part-1 {
               .slick_slider-2 {
                   .slide_2 {
                       height: 100%;
                       
                       .img-slide-2 {
                           max-width: 100%;
                           
                           .img-slick-slider-2 {
                               max-width: 100%;
                               max-height: 100%;
                               object-fit: cover;
                              
                           }
                       }
                      
                   }
               }
           }

           .stories-part-2 {
               width: 100%;
             
               flex-wrap: wrap;
               .part2-1, .part2-2 {
                   width: 95% !important;
                   max-height: auto !important;
                   .stories-part2-img1, .stories-part2-img2 {
                        img {
                            width: 100%;
                            max-height: 400px !important;
                        }
                   }
               }
           }

           .stories-part-3 {
                .slick_slider-3 {
                    max-width: 100%;
                    .slide_3 {
                        .img-slide-3 {
                            max-width: 100%;
                        }
                    }
                }
           }
       }
   }

   section {
    .contact-right {
       form {
           
                max-width: 90%;
           input {
               width: 100%;
           }
           
          
       }
    }
}

footer {
    .language-col, .list1-col, .list2-col, .list3-col {
        justify-content: flex-start !important;
        margin-bottom: 15px;
        ul {
            margin-top: 0 !important;
        }
    }
}
  
}
